body {
    margin: 0;
}

.blogs-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 10px;
}

.blogs-form__fieldset {
    border: none;
    width: 100%;
    font-size: 30px;
    font-family: 'Roboto';
}

.togglable-button-margin {
    margin-top: 20px;
}
